#root {
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  color: hotpink;
  border-radius: 24px;
  
}
